.student-card {
  display: flex;
  gap: 16px;

  img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
  }

  .student-card_info {
    display: flex;
    flex-direction: column;

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 100%;
      color: #323B4B;
      margin-bottom: 12px;
    }

    p {
      display: flex;
      align-items: center;
      gap: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;color: #B0B7C3;
      margin-bottom: 10px;
    }
  }
}