.total-stats__box {
  display: flex;
  gap: 20px;
  padding: 24px 32px;
  background: #FFFFFF;
  box-shadow: 0px 16.6471px 41.6176px rgba(22, 22, 22, 0.05);
  border-radius: 15px;
  width: 382px;
  height: 120px;
  align-items: center;
  .total-stats__box_icon{
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    span{
      transform: scale(1.3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .total-stats__box_text {
    h3 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 100%;
      color: #323B4B;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #323B4B;
    }
  }
}